<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>799235809725-9uo3r95nk0f529i0mr7grednk3lrvsbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799235809725-9uo3r95nk0f529i0mr7grednk3lrvsbg</string>
	<key>API_KEY</key>
	<string>AIzaSyCoRgfWMEucWVd1wsdrN_Hp9R6rinf8g_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>799235809725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ci.Alice</string>
	<key>PROJECT_ID</key>
	<string>alice-1d9df</string>
	<key>STORAGE_BUCKET</key>
	<string>alice-1d9df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:799235809725:ios:581880f1bc744f1e</string>
	<key>DATABASE_URL</key>
	<string>https://alice-1d9df.firebaseio.com</string>
</dict>
</plist>